html/journal.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Настройки профиля</title>
    <meta name="keywords" content="{FIXME}">
    <meta name="description" content="{FIXME}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{FIXME}">
    <link rel="stylesheet" href="publish/style.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="publish/style.ie.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="b-page">
    <div class="b-page__wrapper">
      <header class="b-header"><a href="/" class="b-header__logo"><img src="tmp/logo.png"></a>
        <div class="b-header__info"><span class="b-header__info-phone">8 800 775 06 06</span><span class="b-header__info-cond">Бесплатно и круглосуточно</span></div>
        <div class="b-header__tarif"><span class="b-header__tarif__label">Вы используете тариф:</span><a href="#">Стандарт</a></div>
        <div class="b-header__login">
          <div class="b-dropdown js-dropdown b-header__dropdown">
            <div class="b-dropdown__row">
              <div class="b-header__account">
                <div class="b-header__account-wrap"><i class="b-header__account-pic"></i><span>Константин Константинопольский</span></div>
              </div>
            </div>
            <div class="b-dropdown__content">
              <ul class="b-header__options">
                <li class="b-header__option"><a href="/options.html" class="b-header__option-link">Настройки профиля</a></li>
                <li class="b-header__option"><a href="/options.html#adduser" class="b-header__option-link">Добавить пользователя</a></li>
                <li class="b-header__option"><a href="/options.html#addwatcher" class="b-header__option-link">Добавить наблюдателя</a></li>
                <li class="b-header__option"><a href="/options.html#contacts" class="b-header__option-link">Добавить телефон</a></li>
                <li class="b-header__option"><a href="/logout" class="b-header__option-link">Выйти</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <ul class="b-menu b-menu_orgon">
        <li class="b-menu__item"><a href="#" class="b-menu__link">Наши специалисты</a></li>
        <li class="b-menu__item b-menu__item_current b-warning b-warning_menu-item"><a href="/journal.html" class="b-menu__link">Журнал измерений</a></li>
      </ul>
      <table class="b-tabs">
        <tr id="b-tab-tips">
          <td class="b-tab b-tab-tip b-tab_current"><a herf="#" class="b-tab__link">Константинопольский Константин Константинович</a></td>
          <td class="b-tab b-tab-tip"><a herf="#" class="b-tab__link">Весельковская Александра Валерьевна</a></td>
          <td class="b-tab b-tab-add-link"><a herf="#" class="b-tab__link">+ Добавить</a></td>
        </tr>
      </table>
      <div id="b-tab__pages" class="b-tab__pages">
        <div class="b-tab__page">
          <section class="b-content b-popup b-popup_fullwidth">
            <h1 class="b-content__header-text">График здоровья</h1>
            <div class="b-content__header-link js-popup_datapicker-wrapper"><a href="#" class="b-popup_datapicker_opener js-popup_datapicker_opener">с <span id="label-startdate">7 апреля</span> по <span id="label-enddate">15 июня 2013</span></a>
              <div class="b-popup b-popup_datapicker js-popup_datapicker"><a href="#" class="b-popup__close js-popup__close"></a>
                <h3 class="b-content__popup-header">Период</h3>
                <div class="l-cols">
                  <div class="l-col l-col-1-2">
                    <label for="start-date" class="b-form__label">c</label>
                    <div class="l-row l-row_datepicker l-input_datepicker-wrapper">
                      <input type="text" value="7 апреля 2013" name="start-date" id="datepicker-startdate" class="b-input b-input_datepicker js-input_datepicker_start">
                    </div>
                  </div>
                  <div class="l-col l-col-2-2">
                    <label for="end-date" class="b-form__label">по</label>
                    <div class="l-row l-row_datepicker l-input_datepicker-wrapper">
                      <input type="text" value="8 апреля 2013" name="end-date" id="datepicker-enddate" class="b-input b-input_datepicker js-input_datepicker_end">
                    </div>
                  </div>
                </div>
                <div class="b-popup_datapicker-links"><a href="#" class="b-popup_datapicker-link js-popup_datapicker-1week">За неделю</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-2week">За 2 недели</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-1month">За месяц</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-3month">За 3 месяца</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-6month">За полгода</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-1year">За год</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-all">За все время</a></div>
              </div>
            </div>
            <div class="b-graph">
              <div class="b-graph-health">
                <div id="b-graph-bars__axis" class="b-graph__axis b-graph-bars__axis"></div>
                <div id="b-graph-bars__paper" class="b-graph__paper b-graph-bars__paper"></div>
              </div><a href="#" class="b-graph__arrow b-graph__arrow_l js-graph-bars__arrow_l"></a><a href="#" class="b-graph__arrow b-graph__arrow_r js-graph-bars__arrow_r"></a>
            </div>
          </section>
          <section class="b-content b-content_fullwidth b-content_indent">
            <select name="measures" id="measures" mod="minimal" class="b-select js-select_measures">
              <option value="1">Замеры с комментариями</option>
              <option value="2" selected>Замеры с комментариями наблюдателей</option>
              <option value="3">Замеры с комментариями наблюдателя 1</option>
              <option value="4">Замеры с комментариями наблюдателя 2 </option>
              <option value="all">Все замеры</option>
            </select>
            <h1 class="b-content__header">Измерения</h1>
            <table class="b-measures">
              <thead>
                <tr>
                  <th class="b-measures__th b-measures__health-date"><a href="#" class="b-measures__link b-measures__link_desc">Дата и время замера</a></th>
                  <th class="b-measures__th b-measures__health"><span class="b-measures__link b-measures__link">Здоровье</span></th>
                  <th class="b-measures__th b-measures__comment"><span class="b-measures__link b-measures__link">Текст комментария</span></th>
                  <th class="b-measures__th b-measures__comment-date"><a href="#" class="b-measures__link b-measures__link_desc">Дата и время комментария</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">15 июня 2013</span><span class="b-measures__health-date_time">12:25</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_orange b-warning b-warning_health-icon">2</span></td>
                  <td class="b-measures__td b-measures__comment b-measures__highpriority"><span class="b-measures__from">А. А. Александров: </span>Запишитесь ко мне на прием, посмотрим на всякий случай</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">15 июня 2013</span><span class="b-measures__comment-date_time">12:25</span></span></td>
                </tr>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">10 июня 2013</span><span class="b-measures__health-date_time">13:11</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_lgreen">4</span></td>
                  <td class="b-measures__td b-measures__comment">Перенервничал немного на работе</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">10 июня 2013</span><span class="b-measures__comment-date_time">13:11</span></span></td>
                </tr>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">9 июня 2013</span><span class="b-measures__health-date_time">18:38</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_orange">2</span></td>
                  <td class="b-measures__td b-measures__comment">Отравился японской кухней</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">июня 2013</span><span class="b-measures__comment-date_time">18:38</span></span></td>
                </tr>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">4 июня 2013</span><span class="b-measures__health-date_time">23:04</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_red">1</span></td>
                  <td class="b-measures__td b-measures__comment b-measures__lowpriority">Нет комментариев</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">4 июня 2013</span><span class="b-measures__comment-date_time">23:04</span></span></td>
                </tr>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">1 июня 2013</span><span class="b-measures__health-date_time">12:01</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_yellow">3</span></td>
                  <td class="b-measures__td b-measures__comment">Отравился японской кухней</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">1 июня 2013</span><span class="b-measures__comment-date_time">12:01</span></span></td>
                </tr>
              </tbody>
            </table>
            <div class="b-measures__pager">
              <div class="b-measures__pager__prev"><a href="#" rel="prev"><  Предыдущая</a></div>
              <div class="b-measures__pager__pages"><span class="b-measures__pager__label">Страница:</span><a href="#" class="b-measures__pager__link">1</a><a href="#" class="b-measures__pager__link b-measures__pager__link_current">2</a><a href="#" class="b-measures__pager__link">3</a><a href="#" class="b-measures__pager__link">4</a></div>
              <div class="b-measures__pager__next"><a href="#" rel="next">Следующая  ></a></div>
              <div class="b-measures__pager__switch">
                <select name="measures-count" id="measures-count" mod="minimal" class="b-select js-select_measures-count">
                  <option value="1">10</option>
                  <option value="2" selected>20</option>
                  <option value="3">50</option>
                  <option value="4">100</option>
                </select><span class="b-measures__pager__switch-label">Записей на странице:</span>
              </div>
            </div>
          </section>
        </div>
        <div class="b-tab__page">
          <section class="b-content b-popup b-popup_fullwidth">
            <p>Страница инструкций заглушка 1</p>
          </section>
        </div>
      </div>
    </div>
    <footer class="b-footer">
      <div class="b-footer__wrapper">
        <p class="b-footer__copyright">© Оргон, 2013</p><a href="#" class="b-footer__link">Наши специалисты</a><a href="/journal.html" class="b-footer__link">Журнал измерений</a>
      </div>
    </footer>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
    <script>
      //- var _gaq = _gaq || [];
      //- _gaq.push(['_setAccount','UA-XXXXX-X'],['_trackPageview']);
      (function(doc, w, script, c) {
          var f = function () { fjs.parentNode.insertBefore(js, fjs); };
          var js, fjs = doc.getElementsByTagName(script)[0],
              add = function(url, id) {
                  if (doc.getElementById(id)) {return;}
                  js = doc.createElement(script); js.src = url; js.async = true;
                  id && (js.id = id);
                  f();
              };
              
          //- (w[c] = w[c] || []).push(function() {
          //-     try { w.yaCounterXXXXXXX = new Ya.Metrika({id:XXXXXXX, enableAll: true, webvisor:true}); } catch(e) {}
          //- });
          
          add('publish/script.js', 'script-js');
          // Google Analytics
          //- add('//www.google-analytics.com/ga.js', 'ga');
          // Yandex Metrika
          //- add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
          // Google+ button
          //add('https://apis.google.com/js/plusone.js');
          // Facebook SDK
          //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
          // Twitter SDK
          //add('//platform.twitter.com/widgets.js', 'twitter-wjs');
      }(document, window, 'script', 'yandex_metrika_callbacks'));
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/XXXXXXX" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>

jade/journal.jade
extends layout/base

block head.title
  title Настройки профиля

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-menu__item_current.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений

  table.b-tabs
    tr#b-tab-tips
      td.b-tab.b-tab-tip.b-tab_current
        a(herf="#").b-tab__link Константинопольский Константин Константинович
      td.b-tab.b-tab-tip
        a(herf="#").b-tab__link Весельковская Александра Валерьевна
      td.b-tab.b-tab-add-link
        a(herf="#").b-tab__link + Добавить

  .b-tab__pages#b-tab__pages
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        h1.b-content__header-text График здоровья
        .b-content__header-link.js-popup_datapicker-wrapper
          a(href="#").b-popup_datapicker_opener.js-popup_datapicker_opener
            | с 
            span#label-startdate 7 апреля
            |  по 
            span#label-enddate 15 июня 2013
          .b-popup.b-popup_datapicker.js-popup_datapicker
            a(href="#").b-popup__close.js-popup__close
            h3.b-content__popup-header Период
            .l-cols
              .l-col.l-col-1-2
                label.b-form__label(for="start-date") c
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="7 апреля 2013", name="start-date")#datepicker-startdate.b-input.b-input_datepicker.js-input_datepicker_start
              .l-col.l-col-2-2
                label.b-form__label(for="end-date") по
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="8 апреля 2013", name="end-date")#datepicker-enddate.b-input.b-input_datepicker.js-input_datepicker_end
            div.b-popup_datapicker-links
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1week За неделю
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-2week За 2 недели
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1month За месяц
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-3month За 3 месяца
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-6month За полгода
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1year За год
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-all За все время

        .b-graph
          .b-graph-health
            .b-graph__axis.b-graph-bars__axis#b-graph-bars__axis
            .b-graph__paper.b-graph-bars__paper#b-graph-bars__paper
          a(href="#").b-graph__arrow.b-graph__arrow_l.js-graph-bars__arrow_l
          a(href="#").b-graph__arrow.b-graph__arrow_r.js-graph-bars__arrow_r

      section.b-content.b-content_fullwidth.b-content_indent
        select(name="measures", id="measures", class="b-select js-select_measures", mod="minimal")
          option(value="1") Замеры с комментариями
          option(value="2", selected) Замеры с комментариями наблюдателей
          option(value="3") Замеры с комментариями наблюдателя 1
          option(value="4") Замеры с комментариями наблюдателя 2 
          option(value="all") Все замеры
        h1.b-content__header Измерения

        table.b-measures
          thead
            tr
              th.b-measures__th.b-measures__health-date
                a(href="#").b-measures__link.b-measures__link_desc Дата и время замера
              th.b-measures__th.b-measures__health
                span.b-measures__link.b-measures__link Здоровье
              th.b-measures__th.b-measures__comment
                span.b-measures__link.b-measures__link Текст комментария
              th.b-measures__th.b-measures__comment-date
                a(href="#").b-measures__link.b-measures__link_desc Дата и время комментария
          include layout/measures

        .b-measures__pager
          .b-measures__pager__prev
            a(href="#", rel="prev") <  Предыдущая
          .b-measures__pager__pages
            span.b-measures__pager__label Страница:
            a(href="#").b-measures__pager__link 1
            a(href="#").b-measures__pager__link.b-measures__pager__link_current 2
            a(href="#").b-measures__pager__link 3
            a(href="#").b-measures__pager__link 4
          .b-measures__pager__next
            a(href="#", rel="next") Следующая  >

          .b-measures__pager__switch
            select(name="measures-count", id="measures-count", class="b-select js-select_measures-count", mod="minimal")
              option(value="1") 10
              option(value="2", selected) 20
              option(value="3") 50
              option(value="4") 100
            span.b-measures__pager__switch-label Записей на странице:

    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        p Страница инструкций заглушка 1
