jade/login.jade
extends layout/base

block head.title
  title Вход в личный кабинет

block body.header
  header.b-header.b-header_login
    a(href="/").b-header__logo
      img(src="tmp/logo.png")
    .b-header__info
      span.b-header__info-phone 8 800 775 06 06
      span.b-header__info-cond Бесплатно и круглосуточно
    block body.header.tarif
    block body.header.login

block body.content

  .b-content.b-popup
    form#js-form_login_cabinet
      h1.b-content__header_m Вход в личный кабинет
      .b-form__fieldset
        label.b-content__form-label(for="useremail") Ваш email
        .l-row.l-row_fieldset-top
          input(type="email", placeholder="Введите адрес электронной почты",
            id="useremail", name="useremail", autofocus,
          ).b-input.b-input_big.b-input_indent_small
      .b-form__fieldset
        label.b-content__form-label(for="userpass") Ваш пароль
        .l-row.l-row_fieldset-top
          input(type="password", placeholder="Введите ваш пароль",
            id="userpass", name="userpass"
          ).b-input.b-input_big.b-input_indent_small

      .b-form__fieldset
        input(type="checkbox", name="rememberme", id="rememberme").b-customInput
        label(for="rememberme").b-customInput__label
          span.b-customInput__label-txt Запомнить меня
        a(href="/changepwd.html").b-content__forgetpass-link Я забыл пароль
      .b-form__fieldset.b-form__fieldset-action
        input(type="submit", value="Войти").b-button.b-button_action
        a(href="/register.html").b-content__register-link Зарегистрироваться

block body.popups

html/login.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Вход в личный кабинет</title>
    <meta name="keywords" content="{FIXME}">
    <meta name="description" content="{FIXME}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{FIXME}">
    <link rel="stylesheet" href="publish/style.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="publish/style.ie.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="b-page">
    <div class="b-page__wrapper">
      <header class="b-header b-header_login"><a href="/" class="b-header__logo"><img src="tmp/logo.png"></a>
        <div class="b-header__info"><span class="b-header__info-phone">8 800 775 06 06</span><span class="b-header__info-cond">Бесплатно и круглосуточно</span></div>
      </header>
      <div class="b-content b-popup">
        <form id="js-form_login_cabinet">
          <h1 class="b-content__header_m">Вход в личный кабинет</h1>
          <div class="b-form__fieldset">
            <label for="useremail" class="b-content__form-label">Ваш email</label>
            <div class="l-row l-row_fieldset-top">
              <input type="email" placeholder="Введите адрес электронной почты" id="useremail" name="useremail" autofocus class="b-input b-input_big b-input_indent_small">
            </div>
          </div>
          <div class="b-form__fieldset">
            <label for="userpass" class="b-content__form-label">Ваш пароль</label>
            <div class="l-row l-row_fieldset-top">
              <input type="password" placeholder="Введите ваш пароль" id="userpass" name="userpass" class="b-input b-input_big b-input_indent_small">
            </div>
          </div>
          <div class="b-form__fieldset">
            <input type="checkbox" name="rememberme" id="rememberme" class="b-customInput">
            <label for="rememberme" class="b-customInput__label"><span class="b-customInput__label-txt">Запомнить меня</span></label><a href="/changepwd.html" class="b-content__forgetpass-link">Я забыл пароль</a>
          </div>
          <div class="b-form__fieldset b-form__fieldset-action">
            <input type="submit" value="Войти" class="b-button b-button_action"><a href="/register.html" class="b-content__register-link">Зарегистрироваться</a>
          </div>
        </form>
      </div>
    </div>
    <footer class="b-footer">
      <div class="b-footer__wrapper">
        <p class="b-footer__copyright">© Оргон, 2013</p><a href="#" class="b-footer__link">Наши специалисты</a><a href="/journal.html" class="b-footer__link">Журнал измерений</a>
      </div>
    </footer>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
    <script>
      //- var _gaq = _gaq || [];
      //- _gaq.push(['_setAccount','UA-XXXXX-X'],['_trackPageview']);
      (function(doc, w, script, c) {
          var f = function () { fjs.parentNode.insertBefore(js, fjs); };
          var js, fjs = doc.getElementsByTagName(script)[0],
              add = function(url, id) {
                  if (doc.getElementById(id)) {return;}
                  js = doc.createElement(script); js.src = url; js.async = true;
                  id && (js.id = id);
                  f();
              };
              
          //- (w[c] = w[c] || []).push(function() {
          //-     try { w.yaCounterXXXXXXX = new Ya.Metrika({id:XXXXXXX, enableAll: true, webvisor:true}); } catch(e) {}
          //- });
          
          add('publish/script.js', 'script-js');
          // Google Analytics
          //- add('//www.google-analytics.com/ga.js', 'ga');
          // Yandex Metrika
          //- add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
          // Google+ button
          //add('https://apis.google.com/js/plusone.js');
          // Facebook SDK
          //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
          // Twitter SDK
          //add('//platform.twitter.com/widgets.js', 'twitter-wjs');
      }(document, window, 'script', 'yandex_metrika_callbacks'));
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/XXXXXXX" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>
