jade/options.jade
extends layout/base

block head.title
  title Настройки профиля

include mixins/userinfo

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений
  section.b-content.b-popup.b-popup_fullwidth
    h1.b-content__header Мои настройки

    section
      h3.b-content__subheader Часовой пояс
      label.b-form__label(for="timezone") Укажите ваш часовой пояс
      .b-form__fieldset_wrap
        select(name="timezone", id="timezone", class="b-select js-select_options_timezone", mod="big")
          option(value="1") Калинининград, +2 GMT
          option(value="2") Москва, +3 GMT
          option(value="3") Самара, +4 GMT
          option(value="4") Екатеринбург, +5 GMT
          option(value="5") Омск, +6 GMT
          option(value="6") Красноярск, +7 GMT
          option(value="7") Иркутск, +8 GMT
          option(value="8") Якутск, +9 GMT
          option(value="9") Владивосток, +10 GMT
          option(value="10") Магадан, +11 GMT
          option(value="11") Камчатка, +12 GMT

    section.b-content__decorate.b-content__decorate-options-login
      h3.b-content__subheader Параметры входа в систему

      include layout/options_login
      include layout/options_password

    section.b-content__decorate#adduser
      h3.b-content__subheader Введите данные людей, которые будут пользоваться прибором

      script(type="text/html-template", id="adduser_template")
        .b-content__selection.js-form
          table.b-form__table
            tr
              td.b-form__table-label Имя:
              td.b-form__table-value#b-form__addusername-value <%=name%>
            tr
              td.b-form__table-label Дата рождения:
              td.b-form__table-value#b-form__adduserbirth-value <%=birthday%>
            tr
              td.b-form__table-label Пол:
              td.b-form__table-value#b-form__addusersex-value <%=sex%>

          .b-form__caption
            a(href="#").b-form__caption-link.js-form__caption-edit Редактировать
            a(href="#").b-form__caption-link.js-form__caption-delete Удалить
      #b-form-adduser__list

      script(type="text/html-template", id="edituser_template")
        form(action="")#js-form_options_adduser.b-content__selection.b-view__hide
          +userinfo("people_name", "Имя", "Введите имя", "options_adduser_day", "options_adduser_month", "options_adduser_year", "choose-sex", "male", "female", "js-select_options_people1_day", "js-select_options_people1_month", "js-select_options_people1_year")
          input(type="submit", value="Сохранить").b-button.b-button_main.b-button_top

      .b-view.b-view_view
        form(action="")#js-form_options_adduser.b-content__selection.b-view__hide
          +userinfo("people_name", "Имя", "Введите имя", "options_adduser_day", "options_adduser_month", "options_adduser_year", "choose-sex", "male", "female", "js-select_options_people1_day", "js-select_options_people1_month", "js-select_options_people1_year")
          input(type="submit", value="Сохранить").b-button.b-button_main.b-button_top

        a(href="#").b-view__show.js-view__edit#js-form_options_adduser_btn Добавить пользователя

    section.b-content__decorate#contacts
      h3.b-content__subheader Мои номера

      script(type="text/html-template", id="addnumber_template")
        form(action="").b-content__selection.b-content__selection_indent_small.b-view.b-view_view.js-form.js-form_options_addnumbers
          .l-layout__item.l-layout__item_phonenumbers
            .l-layout__item__inputs
              span.b-form__labeled-value.b-view__show.js-form_options_addnumbers_newphone <%=phone%>
              input(type="tel", id="new_phone", value="", name="new_phone", placeholder="+7 (***) ***-**-**", required).b-input.b-input_big.js-input_mask_phone.b-view__hide.js-form_options_addnumbers_phone_input
            .l-layout__item__btns
              input(type="submit", value="Сохранить").b-button.b-button_main.b-button_main_small.b-view__hide
            .l-layout__item__links
              a(href="#").b-view__hide.js-view__view Отмена

            .b-form__action-menu.b-view__show
              a(href="#").b-form__caption-link.js-view__edit Редактировать
              a(href="#").b-form__caption-link.js-form__caption-delete Удалить

      #b-form-addnumbers__list

      form(action="")#js-form_options_addnewnumber
        .l-row.l-row_field-bottom
          input(type="tel", id="my_new_phone", name="my_new_phone", placeholder="+7 (***) ***-**-**", required).b-input.b-input_big.b-input_indent_medium.js-input_mask_phone
        a(href="#").js-form_options_addnewnumber_submit Добавить этот номер

    section.b-content__decorate_last#addwatcher
      h3.b-content__subheader Наблюдатели

      script(type="text/html-template", id="addwatcher_template")
        form(action="").b-content__selection.b-content__selection_indent_small.b-view.b-view_view.js-form.js-form_options_addwatcher
          .l-layout__item.l-layout__item_watchers
            .l-layout__item__labels.b-view__show
              span.b-form__labeled-value_small.b-view__show Лечащий врач:
              span.b-view__show.b-form__labeled-link.js-form_options_addwatcher_newemail <%=email%>
            .l-layout__item__inputs.b-view__hide
              input(type="email", id="watcher_email", name="watcher_email", value="aleksandrov@aleksandrov.ru", required).b-input.b-input_big.b-view__hide.js-form_options_addwatcher_phone_input
            .l-layout__item__btns
              input(type="submit", value="Сохранить").b-button.b-button_main.b-button_main_small.b-view__hide
            .l-layout__item__links
              a(href="#").b-view__hide.js-view__view Отмена

            .b-form__action-menu.b-view__show
              a(href="#").b-form__caption-link.js-view__edit Редактировать
              a(href="#").b-form__caption-link.js-form__caption-delete Удалить

      #b-form-addwatchers__list

      form(action="")#js-form_options_addnewwatcher
        .l-row.l-row_field-bottom
          input(type="email", id="new_watcher_email", name="new_watcher_email", required, value="").b-input.b-input_big.b-input_indent_medium
        a(href="#").js-form_options_addnewwatcher_submit Добавить наблюдателя

html/options.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Настройки профиля</title>
    <meta name="keywords" content="{FIXME}">
    <meta name="description" content="{FIXME}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{FIXME}">
    <link rel="stylesheet" href="publish/style.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="publish/style.ie.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="b-page">
    <div class="b-page__wrapper">
      <header class="b-header"><a href="/" class="b-header__logo"><img src="tmp/logo.png"></a>
        <div class="b-header__info"><span class="b-header__info-phone">8 800 775 06 06</span><span class="b-header__info-cond">Бесплатно и круглосуточно</span></div>
        <div class="b-header__tarif"><span class="b-header__tarif__label">Вы используете тариф:</span><a href="#">Стандарт</a></div>
        <div class="b-header__login">
          <div class="b-dropdown js-dropdown b-header__dropdown">
            <div class="b-dropdown__row">
              <div class="b-header__account">
                <div class="b-header__account-wrap"><i class="b-header__account-pic"></i><span>Константин Константинопольский</span></div>
              </div>
            </div>
            <div class="b-dropdown__content">
              <ul class="b-header__options">
                <li class="b-header__option"><a href="/options.html" class="b-header__option-link">Настройки профиля</a></li>
                <li class="b-header__option"><a href="/options.html#adduser" class="b-header__option-link">Добавить пользователя</a></li>
                <li class="b-header__option"><a href="/options.html#addwatcher" class="b-header__option-link">Добавить наблюдателя</a></li>
                <li class="b-header__option"><a href="/options.html#contacts" class="b-header__option-link">Добавить телефон</a></li>
                <li class="b-header__option"><a href="/logout" class="b-header__option-link">Выйти</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <ul class="b-menu b-menu_orgon">
        <li class="b-menu__item"><a href="#" class="b-menu__link">Наши специалисты</a></li>
        <li class="b-menu__item b-warning b-warning_menu-item"><a href="/journal.html" class="b-menu__link">Журнал измерений</a></li>
      </ul>
      <section class="b-content b-popup b-popup_fullwidth">
        <h1 class="b-content__header">Мои настройки</h1>
        <section>
          <h3 class="b-content__subheader">Часовой пояс</h3>
          <label for="timezone" class="b-form__label">Укажите ваш часовой пояс</label>
          <div class="b-form__fieldset_wrap">
            <select name="timezone" id="timezone" mod="big" class="b-select js-select_options_timezone">
              <option value="1">Калинининград, +2 GMT</option>
              <option value="2">Москва, +3 GMT</option>
              <option value="3">Самара, +4 GMT</option>
              <option value="4">Екатеринбург, +5 GMT</option>
              <option value="5">Омск, +6 GMT</option>
              <option value="6">Красноярск, +7 GMT</option>
              <option value="7">Иркутск, +8 GMT</option>
              <option value="8">Якутск, +9 GMT</option>
              <option value="9">Владивосток, +10 GMT</option>
              <option value="10">Магадан, +11 GMT</option>
              <option value="11">Камчатка, +12 GMT</option>
            </select>
          </div>
        </section>
        <section class="b-content__decorate b-content__decorate-options-login">
          <h3 class="b-content__subheader">Параметры входа в систему</h3>
          <form id="js-form_options_login" class="b-form__login-change b-form__fieldset_wrap b-view b-view_view">
            <label for="user_email" class="b-form__label b-view__show">Эл.почта:</label>
            <label for="user_email" class="b-form__label b-view__hide">Текущий адрес:</label>
            <div class="l-row l-row_fieldset">
              <input type="email" value="Pikcher.box@gmail.com" id="user_email" name="user_email" disabled class="b-input b-input_big b-input_indent"><a href="#" class="b-form__input-editlink b-view__show js-view__edit">Изменить</a>
            </div>
            <label for="user_email_new" class="b-form__label b-view__hide">Новый адрес:</label>
            <div class="l-row l-row_fieldset b-view__hide">
              <input type="email" placeholder="Mc'Raven@bk.ru" id="user_email_new" name="user_email_new" value="Pikcher.box@gmail.com" class="b-input b-input_big b-input_indent">
            </div>
            <input type="submit" value="Сохранить адрес" class="b-button b-button_main b-view__hide">
          </form>
          <form id="js-form_options_password" class="b-form__password-change b-form__fieldset_wrap b-view b-view_view">
            <label for="old_password" class="b-form__label b-view__hide">Старый пароль</label>
            <label for="old_password" class="b-form__label b-view__show">Пароль</label>
            <div class="l-row l-row_fieldset">
              <input type="password" id="old_password" name="old_password" disabled value="1234567890" class="b-input b-input_big b-input_indent"><a href="#" class="b-form__input-editlink b-view__show js-view__edit">Изменить</a>
            </div>
            <div class="l-row l-row_fieldset b-view__hide">
              <label for="new_password" class="b-form__label">Новый пароль</label>
              <input type="password" id="new_password" name="new_password" value="1234567890" class="b-input b-input_big b-input_indent">
            </div>
            <div class="l-row l-row_fieldset b-view__hide">
              <label for="new_password_again" class="b-form__label">Повторите пароль</label>
              <input type="password" id="new_password_again" name="new_password_again" value="1234567890" class="b-input b-input_big b-input_indent">
            </div>
            <input type="submit" value="Изменить пароль" class="b-button b-button_main b-view__hide">
          </form>
        </section>
        <section id="adduser" class="b-content__decorate">
          <h3 class="b-content__subheader">Введите данные людей, которые будут пользоваться прибором</h3>
          <script type="text/html-template" id="adduser_template">
            <div class="b-content__selection js-form">
              <table class="b-form__table">
                <tr>
                  <td class="b-form__table-label">Имя:</td>
                  <td id="b-form__addusername-value" class="b-form__table-value"><%=name%></td>
                </tr>
                <tr>
                  <td class="b-form__table-label">Дата рождения:</td>
                  <td id="b-form__adduserbirth-value" class="b-form__table-value"><%=birthday%></td>
                </tr>
                <tr>
                  <td class="b-form__table-label">Пол:</td>
                  <td id="b-form__addusersex-value" class="b-form__table-value"><%=sex%></td>
                </tr>
              </table>
              <div class="b-form__caption"><a href="#" class="b-form__caption-link js-form__caption-edit">Редактировать</a><a href="#" class="b-form__caption-link js-form__caption-delete">Удалить</a></div>
            </div>
          </script>
          <div id="b-form-adduser__list"></div>
          <script type="text/html-template" id="edituser_template">
            <form action="" id="js-form_options_adduser" class="b-content__selection b-view__hide">
              <div class="b-form__fieldset b-form__fieldset-bottom">
                <label for="people_name" class="b-form__label">Имя</label>
                <div class="l-row l-row_fieldset-equal">
                  <input type="text" id="people_name" name="people_name" required="required" class="b-input b-input_big b-input_indent_small"/>
                </div>
              </div>
              <div class="b-form__fieldset b-form__fieldset-bottom">
                <label class="b-form__label">Дата рождения</label>
                <select name="options_adduser_day" id="options_adduser_day" mod="days" required="required" class="b-select js-select_options_people1_day">
                  <option selected="selected" disabled="disabled">День</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
                <select name="options_adduser_month" id="options_adduser_month" mod="month" required="required" class="b-select js-select_options_people1_month">
                  <option selected="selected" disabled="disabled">Месяц</option>
                  <option value="1">Январь</option>
                  <option value="2">Февраль</option>
                  <option value="3">Март</option>
                  <option value="4">Апрель</option>
                  <option value="5">Май</option>
                  <option value="6">Июнь</option>
                  <option value="7">Июль</option>
                  <option value="8">Август</option>
                  <option value="9">Сентябрь</option>
                  <option value="10">Октябрь</option>
                  <option value="11">Ноябрь</option>
                  <option value="12">Декабрь</option>
                </select>
                <select name="options_adduser_year" id="options_adduser_year" mod="year" required="required" class="b-select js-select_options_people1_year">
                  <option selected="selected" disabled="disabled">Год</option>
                  <option value="1950">1950</option>
                  <option value="1951">1951</option>
                  <option value="1952">1952</option>
                  <option value="1953">1953</option>
                  <option value="1954">1954</option>
                  <option value="1955">1955</option>
                  <option value="1956">1956</option>
                  <option value="1957">1957</option>
                  <option value="1958">1958</option>
                  <option value="1959">1959</option>
                  <option value="1960">1960</option>
                  <option value="1961">1961</option>
                  <option value="1962">1962</option>
                  <option value="1963">1963</option>
                  <option value="1964">1964</option>
                  <option value="1965">1965</option>
                  <option value="1966">1966</option>
                  <option value="1967">1967</option>
                  <option value="1968">1968</option>
                  <option value="1969">1969</option>
                  <option value="1970">1970</option>
                  <option value="1971">1971</option>
                  <option value="1972">1972</option>
                  <option value="1973">1973</option>
                  <option value="1974">1974</option>
                  <option value="1975">1975</option>
                  <option value="1976">1976</option>
                  <option value="1977">1977</option>
                  <option value="1978">1978</option>
                  <option value="1979">1979</option>
                  <option value="1980">1980</option>
                  <option value="1981">1981</option>
                  <option value="1982">1982</option>
                  <option value="1983">1983</option>
                  <option value="1984">1984</option>
                  <option value="1985">1985</option>
                  <option value="1986">1986</option>
                  <option value="1987">1987</option>
                  <option value="1988">1988</option>
                  <option value="1989">1989</option>
                  <option value="1990">1990</option>
                  <option value="1991">1991</option>
                  <option value="1992">1992</option>
                  <option value="1993">1993</option>
                  <option value="1994">1994</option>
                  <option value="1995">1995</option>
                  <option value="1996">1996</option>
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                </select>
              </div>
              <div class="b-form__fieldset b-form__fieldset-top">
                <label class="b-form__label b-form__label_indent">Пол</label>
                <input type="radio" name="choose-sex" id="male" value="male" required="required" class="b-customInput"/>
                <label for="male" class="b-customInput__label">М</label>
                <input type="radio" name="choose-sex" id="female" value="female" required="required" class="b-customInput"/>
                <label for="female" class="b-customInput__label">Ж</label>
              </div>
              <input type="submit" value="Сохранить" class="b-button b-button_main b-button_top">
            </form>
          </script>
          <div class="b-view b-view_view">
            <form action="" id="js-form_options_adduser" class="b-content__selection b-view__hide">
              <div class="b-form__fieldset b-form__fieldset-bottom">
                <label for="people_name" class="b-form__label">Имя</label>
                <div class="l-row l-row_fieldset-equal">
                  <input type="text" id="people_name" name="people_name" required="required" class="b-input b-input_big b-input_indent_small"/>
                </div>
              </div>
              <div class="b-form__fieldset b-form__fieldset-bottom">
                <label class="b-form__label">Дата рождения</label>
                <select name="options_adduser_day" id="options_adduser_day" mod="days" required="required" class="b-select js-select_options_people1_day">
                  <option selected="selected" disabled="disabled">День</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
                <select name="options_adduser_month" id="options_adduser_month" mod="month" required="required" class="b-select js-select_options_people1_month">
                  <option selected="selected" disabled="disabled">Месяц</option>
                  <option value="1">Январь</option>
                  <option value="2">Февраль</option>
                  <option value="3">Март</option>
                  <option value="4">Апрель</option>
                  <option value="5">Май</option>
                  <option value="6">Июнь</option>
                  <option value="7">Июль</option>
                  <option value="8">Август</option>
                  <option value="9">Сентябрь</option>
                  <option value="10">Октябрь</option>
                  <option value="11">Ноябрь</option>
                  <option value="12">Декабрь</option>
                </select>
                <select name="options_adduser_year" id="options_adduser_year" mod="year" required="required" class="b-select js-select_options_people1_year">
                  <option selected="selected" disabled="disabled">Год</option>
                  <option value="1950">1950</option>
                  <option value="1951">1951</option>
                  <option value="1952">1952</option>
                  <option value="1953">1953</option>
                  <option value="1954">1954</option>
                  <option value="1955">1955</option>
                  <option value="1956">1956</option>
                  <option value="1957">1957</option>
                  <option value="1958">1958</option>
                  <option value="1959">1959</option>
                  <option value="1960">1960</option>
                  <option value="1961">1961</option>
                  <option value="1962">1962</option>
                  <option value="1963">1963</option>
                  <option value="1964">1964</option>
                  <option value="1965">1965</option>
                  <option value="1966">1966</option>
                  <option value="1967">1967</option>
                  <option value="1968">1968</option>
                  <option value="1969">1969</option>
                  <option value="1970">1970</option>
                  <option value="1971">1971</option>
                  <option value="1972">1972</option>
                  <option value="1973">1973</option>
                  <option value="1974">1974</option>
                  <option value="1975">1975</option>
                  <option value="1976">1976</option>
                  <option value="1977">1977</option>
                  <option value="1978">1978</option>
                  <option value="1979">1979</option>
                  <option value="1980">1980</option>
                  <option value="1981">1981</option>
                  <option value="1982">1982</option>
                  <option value="1983">1983</option>
                  <option value="1984">1984</option>
                  <option value="1985">1985</option>
                  <option value="1986">1986</option>
                  <option value="1987">1987</option>
                  <option value="1988">1988</option>
                  <option value="1989">1989</option>
                  <option value="1990">1990</option>
                  <option value="1991">1991</option>
                  <option value="1992">1992</option>
                  <option value="1993">1993</option>
                  <option value="1994">1994</option>
                  <option value="1995">1995</option>
                  <option value="1996">1996</option>
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                </select>
              </div>
              <div class="b-form__fieldset b-form__fieldset-top">
                <label class="b-form__label b-form__label_indent">Пол</label>
                <input type="radio" name="choose-sex" id="male" value="male" required="required" class="b-customInput"/>
                <label for="male" class="b-customInput__label">М</label>
                <input type="radio" name="choose-sex" id="female" value="female" required="required" class="b-customInput"/>
                <label for="female" class="b-customInput__label">Ж</label>
              </div>
              <input type="submit" value="Сохранить" class="b-button b-button_main b-button_top">
            </form><a href="#" id="js-form_options_adduser_btn" class="b-view__show js-view__edit">Добавить пользователя</a>
          </div>
        </section>
        <section id="contacts" class="b-content__decorate">
          <h3 class="b-content__subheader">Мои номера</h3>
          <script type="text/html-template" id="addnumber_template">
            <form action="" class="b-content__selection b-content__selection_indent_small b-view b-view_view js-form js-form_options_addnumbers">
              <div class="l-layout__item l-layout__item_phonenumbers">
                <div class="l-layout__item__inputs"><span class="b-form__labeled-value b-view__show js-form_options_addnumbers_newphone"><%=phone%></span>
                  <input type="tel" id="new_phone" value="" name="new_phone" placeholder="+7 (***) ***-**-**" required class="b-input b-input_big js-input_mask_phone b-view__hide js-form_options_addnumbers_phone_input">
                </div>
                <div class="l-layout__item__btns">
                  <input type="submit" value="Сохранить" class="b-button b-button_main b-button_main_small b-view__hide">
                </div>
                <div class="l-layout__item__links"><a href="#" class="b-view__hide js-view__view">Отмена</a></div>
                <div class="b-form__action-menu b-view__show"><a href="#" class="b-form__caption-link js-view__edit">Редактировать</a><a href="#" class="b-form__caption-link js-form__caption-delete">Удалить</a></div>
              </div>
            </form>
          </script>
          <div id="b-form-addnumbers__list"></div>
          <form action="" id="js-form_options_addnewnumber">
            <div class="l-row l-row_field-bottom">
              <input type="tel" id="my_new_phone" name="my_new_phone" placeholder="+7 (***) ***-**-**" required class="b-input b-input_big b-input_indent_medium js-input_mask_phone">
            </div><a href="#" class="js-form_options_addnewnumber_submit">Добавить этот номер</a>
          </form>
        </section>
        <section id="addwatcher" class="b-content__decorate_last">
          <h3 class="b-content__subheader">Наблюдатели</h3>
          <script type="text/html-template" id="addwatcher_template">
            <form action="" class="b-content__selection b-content__selection_indent_small b-view b-view_view js-form js-form_options_addwatcher">
              <div class="l-layout__item l-layout__item_watchers">
                <div class="l-layout__item__labels b-view__show"><span class="b-form__labeled-value_small b-view__show">Лечащий врач:</span><span class="b-view__show b-form__labeled-link js-form_options_addwatcher_newemail"><%=email%></span></div>
                <div class="l-layout__item__inputs b-view__hide">
                  <input type="email" id="watcher_email" name="watcher_email" value="aleksandrov@aleksandrov.ru" required class="b-input b-input_big b-view__hide js-form_options_addwatcher_phone_input">
                </div>
                <div class="l-layout__item__btns">
                  <input type="submit" value="Сохранить" class="b-button b-button_main b-button_main_small b-view__hide">
                </div>
                <div class="l-layout__item__links"><a href="#" class="b-view__hide js-view__view">Отмена</a></div>
                <div class="b-form__action-menu b-view__show"><a href="#" class="b-form__caption-link js-view__edit">Редактировать</a><a href="#" class="b-form__caption-link js-form__caption-delete">Удалить</a></div>
              </div>
            </form>
          </script>
          <div id="b-form-addwatchers__list"></div>
          <form action="" id="js-form_options_addnewwatcher">
            <div class="l-row l-row_field-bottom">
              <input type="email" id="new_watcher_email" name="new_watcher_email" required value="" class="b-input b-input_big b-input_indent_medium">
            </div><a href="#" class="js-form_options_addnewwatcher_submit">Добавить наблюдателя</a>
          </form>
        </section>
      </section>
    </div>
    <footer class="b-footer">
      <div class="b-footer__wrapper">
        <p class="b-footer__copyright">© Оргон, 2013</p><a href="#" class="b-footer__link">Наши специалисты</a><a href="/journal.html" class="b-footer__link">Журнал измерений</a>
      </div>
    </footer>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
    <script>
      //- var _gaq = _gaq || [];
      //- _gaq.push(['_setAccount','UA-XXXXX-X'],['_trackPageview']);
      (function(doc, w, script, c) {
          var f = function () { fjs.parentNode.insertBefore(js, fjs); };
          var js, fjs = doc.getElementsByTagName(script)[0],
              add = function(url, id) {
                  if (doc.getElementById(id)) {return;}
                  js = doc.createElement(script); js.src = url; js.async = true;
                  id && (js.id = id);
                  f();
              };
              
          //- (w[c] = w[c] || []).push(function() {
          //-     try { w.yaCounterXXXXXXX = new Ya.Metrika({id:XXXXXXX, enableAll: true, webvisor:true}); } catch(e) {}
          //- });
          
          add('publish/script.js', 'script-js');
          // Google Analytics
          //- add('//www.google-analytics.com/ga.js', 'ga');
          // Yandex Metrika
          //- add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
          // Google+ button
          //add('https://apis.google.com/js/plusone.js');
          // Facebook SDK
          //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
          // Twitter SDK
          //add('//platform.twitter.com/widgets.js', 'twitter-wjs');
      }(document, window, 'script', 'yandex_metrika_callbacks'));
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/XXXXXXX" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>
