jade/options_doctor.jade
extends layout/base

block head.title
  title Настройки профиля

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login_watcher

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений
  section.b-content.b-popup.b-popup_fullwidth
    h1.b-content__header Мои настройки

    section
      h3.b-content__subheader Параметры входа в систему

      include layout/options_login
      include layout/options_password

      section.b-content__decorate_last.b-view.b-view_view
        h3.b-content__subheader Ваше имя
        form#js-form_options_yourname
          .b-form__name-change.b-form__fieldset_wrap.b-view__show
            input(type="text", value="А.А. Петровский", id="user_name", name="user_name", disabled).b-input.b-input_big
            a(href="#").b-form__input-editlink.js-view__edit Изменить

          .b-content__selection.b-content__selection_indent.b-view__hide
            .l-layout__item
              .l-layout__item__inputs
                input(type="text", id="user_name_edit", name="user_name_edit", value="А.А. Петровский12312").b-input.b-input_big
              .l-layout__item__btns
                input(type="submit", value="Сохранить").b-button.b-button_main.b-button_main_small#js-form_options_yourname_save
              .l-layout__item__links
                a(href="#").js-view__view Отмена

html/options_doctor.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Настройки профиля</title>
    <meta name="keywords" content="{FIXME}">
    <meta name="description" content="{FIXME}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{FIXME}">
    <link rel="stylesheet" href="publish/style.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="publish/style.ie.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="b-page">
    <div class="b-page__wrapper">
      <header class="b-header"><a href="/" class="b-header__logo"><img src="tmp/logo.png"></a>
        <div class="b-header__info"><span class="b-header__info-phone">8 800 775 06 06</span><span class="b-header__info-cond">Бесплатно и круглосуточно</span></div>
        <div class="b-header__tarif"><span class="b-header__tarif__label">Вы используете тариф:</span><a href="#">Стандарт</a></div>
        <div class="b-header__login">
          <div class="b-dropdown js-dropdown b-header__dropdown">
            <div class="b-dropdown__row">
              <div class="b-header__account">
                <div class="b-header__account-wrap b-header__account-wrap_watcher"><i class="b-header__account-pic"></i><span>Лечащий врач</span></div>
              </div>
            </div>
            <div class="b-dropdown__content">
              <ul class="b-header__options">
                <li class="b-header__option"><a href="/options.html" class="b-header__option-link">Настройки профиля</a></li>
                <li class="b-header__option"><a href="/logout" class="b-header__option-link">Выйти</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <ul class="b-menu b-menu_orgon">
        <li class="b-menu__item"><a href="#" class="b-menu__link">Наши специалисты</a></li>
        <li class="b-menu__item b-warning b-warning_menu-item"><a href="/journal.html" class="b-menu__link">Журнал измерений</a></li>
      </ul>
      <section class="b-content b-popup b-popup_fullwidth">
        <h1 class="b-content__header">Мои настройки</h1>
        <section>
          <h3 class="b-content__subheader">Параметры входа в систему</h3>
          <form id="js-form_options_login" class="b-form__login-change b-form__fieldset_wrap b-view b-view_view">
            <label for="user_email" class="b-form__label b-view__show">Эл.почта:</label>
            <label for="user_email" class="b-form__label b-view__hide">Текущий адрес:</label>
            <div class="l-row l-row_fieldset">
              <input type="email" value="Pikcher.box@gmail.com" id="user_email" name="user_email" disabled class="b-input b-input_big b-input_indent"><a href="#" class="b-form__input-editlink b-view__show js-view__edit">Изменить</a>
            </div>
            <label for="user_email_new" class="b-form__label b-view__hide">Новый адрес:</label>
            <div class="l-row l-row_fieldset b-view__hide">
              <input type="email" placeholder="Mc'Raven@bk.ru" id="user_email_new" name="user_email_new" value="Pikcher.box@gmail.com" class="b-input b-input_big b-input_indent">
            </div>
            <input type="submit" value="Сохранить адрес" class="b-button b-button_main b-view__hide">
          </form>
          <form id="js-form_options_password" class="b-form__password-change b-form__fieldset_wrap b-view b-view_view">
            <label for="old_password" class="b-form__label b-view__hide">Старый пароль</label>
            <label for="old_password" class="b-form__label b-view__show">Пароль</label>
            <div class="l-row l-row_fieldset">
              <input type="password" id="old_password" name="old_password" disabled value="1234567890" class="b-input b-input_big b-input_indent"><a href="#" class="b-form__input-editlink b-view__show js-view__edit">Изменить</a>
            </div>
            <div class="l-row l-row_fieldset b-view__hide">
              <label for="new_password" class="b-form__label">Новый пароль</label>
              <input type="password" id="new_password" name="new_password" value="1234567890" class="b-input b-input_big b-input_indent">
            </div>
            <div class="l-row l-row_fieldset b-view__hide">
              <label for="new_password_again" class="b-form__label">Повторите пароль</label>
              <input type="password" id="new_password_again" name="new_password_again" value="1234567890" class="b-input b-input_big b-input_indent">
            </div>
            <input type="submit" value="Изменить пароль" class="b-button b-button_main b-view__hide">
          </form>
          <section class="b-content__decorate_last b-view b-view_view">
            <h3 class="b-content__subheader">Ваше имя</h3>
            <form id="js-form_options_yourname">
              <div class="b-form__name-change b-form__fieldset_wrap b-view__show">
                <input type="text" value="А.А. Петровский" id="user_name" name="user_name" disabled class="b-input b-input_big"><a href="#" class="b-form__input-editlink js-view__edit">Изменить</a>
              </div>
              <div class="b-content__selection b-content__selection_indent b-view__hide">
                <div class="l-layout__item">
                  <div class="l-layout__item__inputs">
                    <input type="text" id="user_name_edit" name="user_name_edit" value="А.А. Петровский12312" class="b-input b-input_big">
                  </div>
                  <div class="l-layout__item__btns">
                    <input type="submit" value="Сохранить" id="js-form_options_yourname_save" class="b-button b-button_main b-button_main_small">
                  </div>
                  <div class="l-layout__item__links"><a href="#" class="js-view__view">Отмена</a></div>
                </div>
              </div>
            </form>
          </section>
        </section>
      </section>
    </div>
    <footer class="b-footer">
      <div class="b-footer__wrapper">
        <p class="b-footer__copyright">© Оргон, 2013</p><a href="#" class="b-footer__link">Наши специалисты</a><a href="/journal.html" class="b-footer__link">Журнал измерений</a>
      </div>
    </footer>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
    <script>
      //- var _gaq = _gaq || [];
      //- _gaq.push(['_setAccount','UA-XXXXX-X'],['_trackPageview']);
      (function(doc, w, script, c) {
          var f = function () { fjs.parentNode.insertBefore(js, fjs); };
          var js, fjs = doc.getElementsByTagName(script)[0],
              add = function(url, id) {
                  if (doc.getElementById(id)) {return;}
                  js = doc.createElement(script); js.src = url; js.async = true;
                  id && (js.id = id);
                  f();
              };
              
          //- (w[c] = w[c] || []).push(function() {
          //-     try { w.yaCounterXXXXXXX = new Ya.Metrika({id:XXXXXXX, enableAll: true, webvisor:true}); } catch(e) {}
          //- });
          
          add('publish/script.js', 'script-js');
          // Google Analytics
          //- add('//www.google-analytics.com/ga.js', 'ga');
          // Yandex Metrika
          //- add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
          // Google+ button
          //add('https://apis.google.com/js/plusone.js');
          // Facebook SDK
          //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
          // Twitter SDK
          //add('//platform.twitter.com/widgets.js', 'twitter-wjs');
      }(document, window, 'script', 'yandex_metrika_callbacks'));
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/XXXXXXX" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>
