jade/register.jade
extends layout/base

block head.title
  title Регистрация

include mixins/userinfo

block body.content
  .b-content.b-popup.b-popup_fullwidth
    h1.b-content__header Регистрация
    a(href="/login.html").b-popup__close
    p.b-content__alert Несколько человек могут пользоваться одним прибором с одним или несколькими мобильными телефонами. В случае, если каждый пользуется прибором с личным телефоном для получения своих замеров, рекомендуем пройти регистрацию каждому пользователю отдельно.

    form(action="").b-content__set#js-popup__registration
      .b-content__set__item
        h3.b-content__subheader-small Укажите эл.почту и придумайте пароль
        .b-content__set__txt
          p Адрес будет использоваться исключительно в ваших интересах.
            br
            | Мы не рассылаем спам и не передаем адреса эл.почты третьим лицам.

        .b-form__fieldset_wrap
          .l-row.l-row_field-bottom
            input(type="email", placeholder="Электронная почта", name="registration-name", required, class="b-form__error").b-input.b-input_big.b-input_indent_small
            label(for="registration-name", class="b-form__error") Данная почта уже используется, введите другой адрес или воспользуйтесь функцией восстановления пароля
          .l-row
            input(type="password", placeholder="Пароль", name="registration-pwd", required).b-input.b-input_big.b-input_indent_small

      .b-content__set__item
        h3.b-content__subheader-small Укажите, сколько человек будет пользоваться устройством
        .b-content__set__txt
          p Позже вы всегда сможете поменять этот параметр.

        input(type="radio", name="amount", id="amount-1", value="1", checked="checked").b-customInput
        label(for="amount-1").b-customInput__label 1
        input(type="radio", name="amount", id="amount-2", value="2").b-customInput
        label(for="amount-2").b-customInput__label 2
        input(type="radio", name="amount", id="amount-3", value="3").b-customInput
        label(for="amount-3").b-customInput__label 3
        input(type="radio", name="amount", id="amount-4", value="4").b-customInput
        label(for="amount-4").b-customInput__label 4
        input(type="radio", name="amount", id="amount-5", value="5").b-customInput
        label(for="amount-5").b-customInput__label 5
        input(type="radio", name="amount", id="amount-6", value="6").b-customInput
        label(for="amount-6").b-customInput__label 6
        input(type="radio", name="amount", id="amount-7", value="7").b-customInput
        label(for="amount-7").b-customInput__label 7

      .b-content__set__item
        h3.b-content__subheader-small Введите данные
        .b-content__set__txt Данные пола и возраста нужны для точной аналитики.

        script(type="text/html-template", id="adduser_template")
          .b-content__selection
            span.b-form__caption Пользователь <%=user_number%>
            +userinfo("name-<%=user_number%>", "Имя пользователя", "", "day-<%=user_number%>", "month-<%=user_number%>", "year-<%=user_number%>", "choose-sex-<%=user_number%>", "male-<%=user_number%>", "female-<%=user_number%>", "js-select_user<%=user_number%>_day", "js-select_user<%=user_number%>_month", "js-select_user<%=user_number%>_year" )

        #b-form-addusers__list
          .b-content__selection
            span.b-form__caption Пользователь 1
            +userinfo("name-1", "Имя пользователя", "", "day-1", "month-1", "year-1", "choose-sex-1", "male-1", "female-1", "js-select_user1_day", "js-select_user1_month", "js-select_user1_year" )

      .b-content__set__item
        h3.b-content__subheader-small Укажите номер телефона для Ваших изменений
        .b-content__set__txt Номер телефона нужен для передачи аналитических данных.

        script(type="text/html-template", id="addnumber_register_template")
          .b-content__selection.b-content__selection_indent_small.b-view.b-view_view.js-form.js-form_options_addnumbers
            .l-layout__item.l-layout__item_phonenumbers
              .l-layout__item__inputs
                span.b-form__labeled-value.b-view__show.js-form_addnumbers_newphone <%=phone%>
                input(type="tel", id="new_phone", value!="<%=phone%>", name="new_phone", placeholder="+7 (***) ***-**-**", required).b-input.b-input_big.js-input_mask_phone.b-view__hide.js-form_addnumbers_phone_input
              .l-layout__item__btns
                a(href="#").b-button.b-button_main.b-button_main_small.b-view__hide.js-form__savenumber-btn Сохранить
              .l-layout__item__links
                a(href="#").b-view__hide.js-view__view Отмена

              .b-form__action-menu.b-view__show
                a(href="#").b-form__caption-link.js-view__edit Редактировать
                a(href="#").b-form__caption-link.js-form__delete-item Удалить
        #b-form-addnumbers__list

        .b-form__fieldset_wrap#js-form_addnewnumber
          .l-row.l-row_field-bottom
            input(type="tel", id="my_new_phone", name="my_new_phone", placeholder="+7 (***) ***-**-**", required).b-input.b-input_big.b-input_indent_medium.js-input_mask_phone
          a(href="#").js-form_addnewnumber_submit Добавить еще номер телефона

      .b-content__set__action
        input(type="submit", value="Зарегистрироваться").b-button.b-button_main

html/register.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Регистрация</title>
    <meta name="keywords" content="{FIXME}">
    <meta name="description" content="{FIXME}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{FIXME}">
    <link rel="stylesheet" href="publish/style.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="publish/style.ie.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="b-page">
    <div class="b-page__wrapper">
      <header class="b-header"><a href="/" class="b-header__logo"><img src="tmp/logo.png"></a>
        <div class="b-header__info"><span class="b-header__info-phone">8 800 775 06 06</span><span class="b-header__info-cond">Бесплатно и круглосуточно</span></div>
      </header>
      <div class="b-content b-popup b-popup_fullwidth">
        <h1 class="b-content__header">Регистрация</h1><a href="/login.html" class="b-popup__close"></a>
        <p class="b-content__alert">Несколько человек могут пользоваться одним прибором с одним или несколькими мобильными телефонами. В случае, если каждый пользуется прибором с личным телефоном для получения своих замеров, рекомендуем пройти регистрацию каждому пользователю отдельно.</p>
        <form action="" id="js-popup__registration" class="b-content__set">
          <div class="b-content__set__item">
            <h3 class="b-content__subheader-small">Укажите эл.почту и придумайте пароль</h3>
            <div class="b-content__set__txt">
              <p>Адрес будет использоваться исключительно в ваших интересах.<br>Мы не рассылаем спам и не передаем адреса эл.почты третьим лицам.</p>
            </div>
            <div class="b-form__fieldset_wrap">
              <div class="l-row l-row_field-bottom">
                <input type="email" placeholder="Электронная почта" name="registration-name" required class="b-form__error b-input b-input_big b-input_indent_small">
                <label for="registration-name" class="b-form__error">Данная почта уже используется, введите другой адрес или воспользуйтесь функцией восстановления пароля</label>
              </div>
              <div class="l-row">
                <input type="password" placeholder="Пароль" name="registration-pwd" required class="b-input b-input_big b-input_indent_small">
              </div>
            </div>
          </div>
          <div class="b-content__set__item">
            <h3 class="b-content__subheader-small">Укажите, сколько человек будет пользоваться устройством</h3>
            <div class="b-content__set__txt">
              <p>Позже вы всегда сможете поменять этот параметр.</p>
            </div>
            <input type="radio" name="amount" id="amount-1" value="1" checked="checked" class="b-customInput">
            <label for="amount-1" class="b-customInput__label">1</label>
            <input type="radio" name="amount" id="amount-2" value="2" class="b-customInput">
            <label for="amount-2" class="b-customInput__label">2</label>
            <input type="radio" name="amount" id="amount-3" value="3" class="b-customInput">
            <label for="amount-3" class="b-customInput__label">3</label>
            <input type="radio" name="amount" id="amount-4" value="4" class="b-customInput">
            <label for="amount-4" class="b-customInput__label">4</label>
            <input type="radio" name="amount" id="amount-5" value="5" class="b-customInput">
            <label for="amount-5" class="b-customInput__label">5</label>
            <input type="radio" name="amount" id="amount-6" value="6" class="b-customInput">
            <label for="amount-6" class="b-customInput__label">6</label>
            <input type="radio" name="amount" id="amount-7" value="7" class="b-customInput">
            <label for="amount-7" class="b-customInput__label">7</label>
          </div>
          <div class="b-content__set__item">
            <h3 class="b-content__subheader-small">Введите данные</h3>
            <div class="b-content__set__txt">Данные пола и возраста нужны для точной аналитики.</div>
            <script type="text/html-template" id="adduser_template">
              <div class="b-content__selection"><span class="b-form__caption">Пользователь <%=user_number%></span>
                <div class="b-form__fieldset b-form__fieldset-bottom">
                  <label for="name-<%=user_number%>" class="b-form__label">Имя пользователя</label>
                  <div class="l-row l-row_fieldset-equal">
                    <input type="text" id="name-<%=user_number%>" name="name-<%=user_number%>" required="required" class="b-input b-input_big b-input_indent_small"/>
                  </div>
                </div>
                <div class="b-form__fieldset b-form__fieldset-bottom">
                  <label class="b-form__label">Дата рождения</label>
                  <select name="day-<%=user_number%>" id="day-<%=user_number%>" mod="days" required="required" class="b-select js-select_user<%=user_number%>_day">
                    <option selected="selected" disabled="disabled">День</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                  <select name="month-<%=user_number%>" id="month-<%=user_number%>" mod="month" required="required" class="b-select js-select_user<%=user_number%>_month">
                    <option selected="selected" disabled="disabled">Месяц</option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                  </select>
                  <select name="year-<%=user_number%>" id="year-<%=user_number%>" mod="year" required="required" class="b-select js-select_user<%=user_number%>_year">
                    <option selected="selected" disabled="disabled">Год</option>
                    <option value="1950">1950</option>
                    <option value="1951">1951</option>
                    <option value="1952">1952</option>
                    <option value="1953">1953</option>
                    <option value="1954">1954</option>
                    <option value="1955">1955</option>
                    <option value="1956">1956</option>
                    <option value="1957">1957</option>
                    <option value="1958">1958</option>
                    <option value="1959">1959</option>
                    <option value="1960">1960</option>
                    <option value="1961">1961</option>
                    <option value="1962">1962</option>
                    <option value="1963">1963</option>
                    <option value="1964">1964</option>
                    <option value="1965">1965</option>
                    <option value="1966">1966</option>
                    <option value="1967">1967</option>
                    <option value="1968">1968</option>
                    <option value="1969">1969</option>
                    <option value="1970">1970</option>
                    <option value="1971">1971</option>
                    <option value="1972">1972</option>
                    <option value="1973">1973</option>
                    <option value="1974">1974</option>
                    <option value="1975">1975</option>
                    <option value="1976">1976</option>
                    <option value="1977">1977</option>
                    <option value="1978">1978</option>
                    <option value="1979">1979</option>
                    <option value="1980">1980</option>
                    <option value="1981">1981</option>
                    <option value="1982">1982</option>
                    <option value="1983">1983</option>
                    <option value="1984">1984</option>
                    <option value="1985">1985</option>
                    <option value="1986">1986</option>
                    <option value="1987">1987</option>
                    <option value="1988">1988</option>
                    <option value="1989">1989</option>
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                  </select>
                </div>
                <div class="b-form__fieldset b-form__fieldset-top">
                  <label class="b-form__label b-form__label_indent">Пол</label>
                  <input type="radio" name="choose-sex-<%=user_number%>" id="male-<%=user_number%>" value="male" required="required" class="b-customInput"/>
                  <label for="male-<%=user_number%>" class="b-customInput__label">М</label>
                  <input type="radio" name="choose-sex-<%=user_number%>" id="female-<%=user_number%>" value="female" required="required" class="b-customInput"/>
                  <label for="female-<%=user_number%>" class="b-customInput__label">Ж</label>
                </div>
              </div>
            </script>
            <div id="b-form-addusers__list">
              <div class="b-content__selection"><span class="b-form__caption">Пользователь 1</span>
                <div class="b-form__fieldset b-form__fieldset-bottom">
                  <label for="name-1" class="b-form__label">Имя пользователя</label>
                  <div class="l-row l-row_fieldset-equal">
                    <input type="text" id="name-1" name="name-1" required="required" class="b-input b-input_big b-input_indent_small"/>
                  </div>
                </div>
                <div class="b-form__fieldset b-form__fieldset-bottom">
                  <label class="b-form__label">Дата рождения</label>
                  <select name="day-1" id="day-1" mod="days" required="required" class="b-select js-select_user1_day">
                    <option selected="selected" disabled="disabled">День</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                  <select name="month-1" id="month-1" mod="month" required="required" class="b-select js-select_user1_month">
                    <option selected="selected" disabled="disabled">Месяц</option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                  </select>
                  <select name="year-1" id="year-1" mod="year" required="required" class="b-select js-select_user1_year">
                    <option selected="selected" disabled="disabled">Год</option>
                    <option value="1950">1950</option>
                    <option value="1951">1951</option>
                    <option value="1952">1952</option>
                    <option value="1953">1953</option>
                    <option value="1954">1954</option>
                    <option value="1955">1955</option>
                    <option value="1956">1956</option>
                    <option value="1957">1957</option>
                    <option value="1958">1958</option>
                    <option value="1959">1959</option>
                    <option value="1960">1960</option>
                    <option value="1961">1961</option>
                    <option value="1962">1962</option>
                    <option value="1963">1963</option>
                    <option value="1964">1964</option>
                    <option value="1965">1965</option>
                    <option value="1966">1966</option>
                    <option value="1967">1967</option>
                    <option value="1968">1968</option>
                    <option value="1969">1969</option>
                    <option value="1970">1970</option>
                    <option value="1971">1971</option>
                    <option value="1972">1972</option>
                    <option value="1973">1973</option>
                    <option value="1974">1974</option>
                    <option value="1975">1975</option>
                    <option value="1976">1976</option>
                    <option value="1977">1977</option>
                    <option value="1978">1978</option>
                    <option value="1979">1979</option>
                    <option value="1980">1980</option>
                    <option value="1981">1981</option>
                    <option value="1982">1982</option>
                    <option value="1983">1983</option>
                    <option value="1984">1984</option>
                    <option value="1985">1985</option>
                    <option value="1986">1986</option>
                    <option value="1987">1987</option>
                    <option value="1988">1988</option>
                    <option value="1989">1989</option>
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                  </select>
                </div>
                <div class="b-form__fieldset b-form__fieldset-top">
                  <label class="b-form__label b-form__label_indent">Пол</label>
                  <input type="radio" name="choose-sex-1" id="male-1" value="male" required="required" class="b-customInput"/>
                  <label for="male-1" class="b-customInput__label">М</label>
                  <input type="radio" name="choose-sex-1" id="female-1" value="female" required="required" class="b-customInput"/>
                  <label for="female-1" class="b-customInput__label">Ж</label>
                </div>
              </div>
            </div>
          </div>
          <div class="b-content__set__item">
            <h3 class="b-content__subheader-small">Укажите номер телефона для Ваших изменений</h3>
            <div class="b-content__set__txt">Номер телефона нужен для передачи аналитических данных.</div>
            <script type="text/html-template" id="addnumber_register_template">
              <div class="b-content__selection b-content__selection_indent_small b-view b-view_view js-form js-form_options_addnumbers">
                <div class="l-layout__item l-layout__item_phonenumbers">
                  <div class="l-layout__item__inputs"><span class="b-form__labeled-value b-view__show js-form_addnumbers_newphone"><%=phone%></span>
                    <input type="tel" id="new_phone" value="<%=phone%>" name="new_phone" placeholder="+7 (***) ***-**-**" required class="b-input b-input_big js-input_mask_phone b-view__hide js-form_addnumbers_phone_input">
                  </div>
                  <div class="l-layout__item__btns"><a href="#" class="b-button b-button_main b-button_main_small b-view__hide js-form__savenumber-btn">Сохранить</a></div>
                  <div class="l-layout__item__links"><a href="#" class="b-view__hide js-view__view">Отмена</a></div>
                  <div class="b-form__action-menu b-view__show"><a href="#" class="b-form__caption-link js-view__edit">Редактировать</a><a href="#" class="b-form__caption-link js-form__delete-item">Удалить</a></div>
                </div>
              </div>
            </script>
            <div id="b-form-addnumbers__list"></div>
            <div id="js-form_addnewnumber" class="b-form__fieldset_wrap">
              <div class="l-row l-row_field-bottom">
                <input type="tel" id="my_new_phone" name="my_new_phone" placeholder="+7 (***) ***-**-**" required class="b-input b-input_big b-input_indent_medium js-input_mask_phone">
              </div><a href="#" class="js-form_addnewnumber_submit">Добавить еще номер телефона</a>
            </div>
          </div>
          <div class="b-content__set__action">
            <input type="submit" value="Зарегистрироваться" class="b-button b-button_main">
          </div>
        </form>
      </div>
    </div>
    <footer class="b-footer">
      <div class="b-footer__wrapper">
        <p class="b-footer__copyright">© Оргон, 2013</p><a href="#" class="b-footer__link">Наши специалисты</a><a href="/journal.html" class="b-footer__link">Журнал измерений</a>
      </div>
    </footer>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
    <script>
      //- var _gaq = _gaq || [];
      //- _gaq.push(['_setAccount','UA-XXXXX-X'],['_trackPageview']);
      (function(doc, w, script, c) {
          var f = function () { fjs.parentNode.insertBefore(js, fjs); };
          var js, fjs = doc.getElementsByTagName(script)[0],
              add = function(url, id) {
                  if (doc.getElementById(id)) {return;}
                  js = doc.createElement(script); js.src = url; js.async = true;
                  id && (js.id = id);
                  f();
              };
              
          //- (w[c] = w[c] || []).push(function() {
          //-     try { w.yaCounterXXXXXXX = new Ya.Metrika({id:XXXXXXX, enableAll: true, webvisor:true}); } catch(e) {}
          //- });
          
          add('publish/script.js', 'script-js');
          // Google Analytics
          //- add('//www.google-analytics.com/ga.js', 'ga');
          // Yandex Metrika
          //- add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
          // Google+ button
          //add('https://apis.google.com/js/plusone.js');
          // Facebook SDK
          //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
          // Twitter SDK
          //add('//platform.twitter.com/widgets.js', 'twitter-wjs');
      }(document, window, 'script', 'yandex_metrika_callbacks'));
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/XXXXXXX" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>
